Source: md
Section: devel
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Augustin Voisin-Marras <augustinvoima@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/AugustinVoiMa/md

Package: md
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, markdown, w3m
Description: bash markdown viewer
 A simple tool to view a markdown .md file in a bash terminal with HTML hierarchy
